@import '../../shared-styles/colors';
@import '../../shared-styles/mixins';

.listItem {
  color: black;
}

.productList {
  padding-right: 3px;
  width: 290px;
  height: 210px;
  overscroll-behavior: contain;
  overflow-y: auto;
  overflow-x: hidden;
  @include for-size(tablet) {
    padding-right: 30px;
    width: 594px;
    height: 240px;
  }
  @include for-size(desktop) {
    padding-right: 40px;
    width: 600px;
    height: 269px;
  }
}

// Scroll-bar customisation

.scrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: thin;
  scrollbar-color: $burger-background $secondary-beckground;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: $secondary-beckground;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: $burger-background;
  border-radius: 0px;
}

.scrollbar::-webkit-scrollbar-thumb:vertical {
  min-height: 1.5rem;
}
.scrollbar::-webkit-scrollbar-thumb:horizontal {
  min-width: 1.5rem;
}

.SmallLoaderContainer{
  position: absolute;

  left: 120px;
  @include for-size(tablet) {
    bottom: 20%;
    left: 40%
    // top: 50px;
    // left: 200px;
  }
  @include for-size(desktop) {
    bottom: 0;
    left: 20%
  }
}
