@import "../../../shared-styles/colors";

.notification {
  position: absolute;
  text-align: center;

  top: 0;
  right: 0;
  width: 240px;

  color: white;
  background-color: $accent;
}
.enter {
  transform: translateX(100%);
  transition: all 250ms linear;
}
.enterActive {
  transform: translateX(0);
}
.exit {
  transform: translateX(0);
  transition: all 250ms linear;
}
.exitActive {
  transform: translateX(100%);
}