@import "../../shared-styles/colors";
@import "../../shared-styles/_mixins.scss";

.section__rightSideBar {
  padding-top: 40px;
  padding-bottom: 24px;
  position: relative;

  @include for-size(tablet) {
    padding-top: 91px;
    padding-bottom: 91px;
  }
  @include for-size(desktop) {
    padding-top: 150px;
    padding-bottom: 218px;
    width: 535px;
    height: 600px;
  }
}

.title {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.04em;
  margin-bottom: 17px;
  color: $main-text;
}

.sideBar__list {
  font-family: Verdana;
  font-weight: normal;
  font-size: 14px;
  line-height: 2.214;
  letter-spacing: 0.04em;
  color: $secondary-text;
}

.rightSideBar__lists {
  display: flex;
  justify-content: space-between;

  @include for-size(tablet) {
  }
  @include for-size(desktop) {
    width: 330px;
  }
}
.sideBar__BlocList {
  margin-bottom: 40px;
  width: 265px;
  @include for-size(tablet) {
    width: 237px;
  }
  @include for-size(desktop) {
    width: 330px;
  }
}
.backgroundSideBar {
  @include for-size(tablet) {
    width: 270px;
    position: absolute;
    top: 13px;
    right: 38px;
    height: 400px;
    background-image: url("../../img/rightSideBarBottom@1x.png");
    background-repeat: no-repeat;
  }
  @include for-size(desktop) {
    width: 600px;
    position: absolute;
    top: -172px;
    right: -94px;
    height: 952px;
    background-image: url("../../img/rightSideBar@1x.png");
    background-repeat: no-repeat;
  }
}

.sideBar__BlocDescription {
  width: 270px;
  // -----------tablet--------
  @include for-size(tablet) {
    width: 285px;
  }
  // ----------desktop-------
  @include for-size(desktop) {
  }
}
.sideBar__BlocDescription p {
  margin: 25px 0;
  color: $secondary-text;
}

.conteiner__rightSideBar {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  @include for-size(tablet) {
    padding: 0 28px;
  }
  @include for-size(desktop) {
    padding: 0 25px;
  }
}
.section__rightSideBar {
  background-color: $secondary-beckground;
}

.rightSideBar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  @include for-size(tablet) {
    width: 594px;

    display: flex;
    justify-content: space-between;
  }
  @include for-size(desktop) {
    width: 330px;
    display: block;
  }
}

// @include for-size(tablet) { // min-width: 768
//     padding: 20px;
//   }
//  @include for-size(desktop) { // min-width: 1200;
//     padding: 20px;
//   }
