@import '../../shared-styles/colors';
@import '../../shared-styles/_mixins.scss';

.section__rightSideBar {
  padding-top: 100px;
  padding-bottom: 25px;
  // background-color: rgb(228, 180, 180);
  // background-color: $secondary-beckground;

  @include for-size(tablet) {
    background-color: unset;
    padding-top: 165px;
    padding-bottom: 0px;
    position: relative;
  }
  @include for-size(desktop) {
    background-color: unset;
    padding-top: 137px;
    // min-width: 535px;
    min-height: 600px;
    width: 100%;
  }
}

// Scroll-bar customisation

.scrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: thin;
  scrollbar-color: $burger-background $secondary-beckground;
}
// #FC842D
.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #afb1b6;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: $burger-background;
  border-radius: 0px;
}

.scrollbar::-webkit-scrollbar-thumb:vertical {
  min-height: 1.5rem;
}
.scrollbar::-webkit-scrollbar-thumb:horizontal {
  min-width: 1.5rem;
}

//* scroll standard
.notAllowedProductsList {
  max-height: 152px;
  margin-top: 25px;
  color: $secondary-text;
  // overflow-y: scroll;
  z-index: 1;
  position: relative;
  overscroll-behavior: contain;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  @include for-size(tablet) {
    max-height: 109px;
    line-height: 22px;
  }
  @include for-size(desktop) {
    max-height: 152px;
  }
}

.title {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.04em;
  margin-bottom: 22px;
  color: $main-text;
}

.sideBar__list {
  font-family: Verdana;
  font-weight: normal;
  font-size: 14px;
  line-height: 2.214;
  letter-spacing: 0.04em;
  color: $secondary-text;
}

.rightSideBar__lists {
  display: flex;
  justify-content: space-between;

  @include for-size(tablet) {
  }
  @include for-size(desktop) {
    width: 330px;
  }
}
.sideBar__BlocList {
  margin-bottom: 40px;
  width: 265px;
  @include for-size(tablet) {
    width: 237px;
  }
  @include for-size(desktop) {
    width: 330px;
  }
}
.backgroundSideBar {
  // @include for-size(tablet) {
  //   width: 270px;
  //   position: absolute;
  //   top: 13px;
  //   right: 38px;
  //   height: 362px;

  //   background-image: url('../../img/rightSideBarBottom@1x.png');
  //   background-repeat: no-repeat;
  // }
  @include for-size(desktop) {
    background-image: none;
    //   width: 505px;
    //   position: absolute;
    //   top: 0px;
    //   right: 0px;
    //   height: 777px;

    //   background-image: url('../../img/rightSideBar@1x.png');
    //   background-repeat: no-repeat;
  }
}

.sideBar__BlocDescription {
  width: 270px;
  // -----------tablet--------
  @include for-size(tablet) {
    width: 285px;
  }
  // ----------desktop-------
  @include for-size(desktop) {
    width: 330px;
  }
}
.sideBar__BlocDescription p {
  margin: 25px 0;
  color: $secondary-text;
}

// .conteiner__rightSideBar {
//   padding: 0 15px;
//   margin-left: auto;
//   margin-right: auto;
//   @include for-size(tablet) {
//     padding: 0 28px;
//   }
//   @include for-size(desktop) {
//     padding: 0 25px;
//   }
// }

.rightSideBar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  @include for-size(tablet) {
    width: 594px;

    display: flex;
    justify-content: space-between;
  }
  @include for-size(desktop) {
    width: unset;
    margin-right: 0;
    // width: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
