@media screen and (min-width: 1100px) {
    .pageWrapper {
      display: flex;
      align-items: top;
    }
}

.diarypageWrapper {
    padding-top: 40px;
    @media screen and (min-width: 650px) {
        padding-top: 100px;

    }
    @media screen and (min-width: 1100px) {
        padding-top: 137px;
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
    }
}

// .diaryWrapper {
//     padding-top: 180px;
//     padding-left: 92px;
//     padding-right: 87px;
//     padding-bottom: 61px;
//     width: 800px;
//     margin: 0 auto;
//     @media screen and (min-width: 1100px) {
//         padding-top: 292px;
//         padding-left: 115px;
//         padding-right: 30px;
//         padding-bottom: 74px;
//     }
// }
// .pageWrapper {
//     padding-top: 40px;
//     margin: 0 auto;
// }