@import "../../shared-styles/colors";
@import "../../shared-styles/mixins";

.loginPage {
  padding-top: 40px;
  text-align: center;
  @include for-size(tablet) {
    text-align: left;
    padding-top: 191px;
    margin-left: 92px;
    @include for-size(desktop) {
      text-align: left;
      padding-top: 213px;
      margin-left: 115px;
    }
  }
}
.formLabel {
  position: relative;
}
.validField {
  font-family: "GothamPro-Bold";
  position: absolute;
  color: rgb(238, 20, 20);
  top: 40px;
  left: 55px;

  @include for-size(tablet) {
    left: 40px;
  }
}
.loginTitle {
  margin-bottom: 60px;

  color: $accent;

  font-family: "GothamPro-Bold";
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.04em;
}
.loginForm {
  display: flex;
  flex-direction: column;
}
input {
  font-family: "VerdanaBold";
  font-size: 14px;
  line-height: 1.215px;
  letter-spacing: 0.04em;
  color: $secondary-text;

  height: 36px;
  width: 289px;
  padding-bottom: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid $secondary-text;
  background: transparent;

  @include for-size(tablet) {
    display: flex;
    width: 240px;
  }
}
input:hover,
input:focus {
  color: $accent;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border: none;
}

.login {
  margin-bottom: 40px;
}
.password {
  margin-bottom: 60px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include for-size(tablet) {
    flex-direction: row;
    & button {
      margin-bottom: 0;
    }
  }
}
.buttons > button:last-child {
  margin-bottom: 0;
  @include for-size(tablet) {
    margin-left: 30px;
  }
}
