$main-text: #212121;
$accent: #FC842D;
$secondary-text: #9B9FAA;
$main-background: #fff;
$secondary-beckground: #F0F1F3;

$burger-background: #264061;
$burger-text: #9B9FAA;
$burger-active-text: #fff;

$header-border: #E0E0E0;
$alert-global-border: #E74C3C;
$alert-global-background: #FDEDEC;
$alert-global-text: #A93226;