@import "../../shared-styles/mixins";
@import "../../shared-styles/colors";

.authnav {
  @include for-size(desktop) {
    // margin-right: 500px;
  }
}

.link { 
  @include for-size(desktop) {
    text-decoration: none;
    color: $secondary-text;
    font-family: "VerdanaBold";
    font-size: 14px;

    &:not(:last-child){
      margin-right: 22px;
    }
  }
}
.active {
  @include for-size(desktop) {
    text-decoration: none;
    color: $main-text;
    font-family: "VerdanaBold";
    font-size: 14px;
  }
}


