.modal {
  background-color: rgba(33, 33, 33, 0.12);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // opacity: 0;
  // pointer-events: none;
  // transition: 0.5s;

  // @media screen and (min-width: 650px) {

  // }
}

.modal.active {
  opacity: 1;
}

.modalContent {
  width: 320px;
  height: 580px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 40px 15px;

  @media screen and (min-width: 650px) {
    width: 594px;
    height: 580px;
    padding: 64px 43px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
  }

  @media screen and (min-width: 1100px) {
    width: 690px;
    height: 580px;
    padding: 64px 90px;
  }

}


.modalText {
font-family: Verdana;
font-weight: 700;
font-size: 18px;
line-height: 32px;
margin-bottom: 40px;
color: #212121;

@media screen and (min-width: 650px) {
  text-align: center;
  font-size: 26px;


}

@media screen and (min-width: 1100px){
  margin-bottom: 22px;


}

}


.recommendation {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 58px;
text-align: center;
letter-spacing: 0.04em;
margin-bottom: 30px;
color: #264061;
}

.productList {
  font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.04em;
color: #212121;
margin-bottom: 22px;
}

.button {
  background-color: #FC842D;
  padding: 13px 26px;
  border-radius: 30px;
  border: 1px solid #FC842D;
  font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
display: block;
margin: 0px auto;
}

.product {
font-family: Verdana;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.04em;
color: #9B9FAA;
}