@import "../../shared-styles/reset";
@import "../../shared-styles/mixins";
@import "../../shared-styles/colors";

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include for-size(tablet) {
    padding-left: 78px;
    padding-right: 78px;
  }
  @include for-size(desktop) {
    padding-left: 29px;
    padding-right: 29px;
  }
  //@include for-size(tablet) {
  // min-width: 768
  //  padding: 20px;
  //}
}
header > .container {
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  padding-top: 18px;
  padding-bottom: 18px;

  @include for-size(desktop) {
    padding-top: 82px;
    justify-content: start;
  }
}

.logoContainer {
  display: flex;
  position: relative;

  @include for-size(tablet) {
    width: 165px;
  }
  @include for-size(desktop) {
  }
  &::after {
    position: absolute;
    @include for-size(desktop) {
      background-color: silver;
      content: "";
      display: inline-block;
      width: 2px;
      height: 32px;
      top: 35px;
      left: 190px;
    }
  }
}

.navigationAuth {
  margin-left: 106px;
  padding: 13px 0px;
  display: flex;
  @include for-size(desktop) {
    margin-left: 40px;
    padding: 0;
    padding-top: 40px;
  }
}

.navigation {
  margin-left: 65px;
  padding: 12px 0px;
  @include for-size(tablet) {
    margin-left: 270px;
  }
  @include for-size(desktop) {
    margin-left: 45px;
    padding-top: 40px;
  }
}
.logoLink {
  text-decoration: none;
}

.closeBtn {
  border: none;
  outline: none;
  background-color: $main-background;
  color: $main-text;
  font-size: 20px;
 
  @include for-size(tablet){
    margin-left: 50px;  
    padding-right: 30px;
  }

  &:hover,
  &:focus {
    color: $accent;
  }
}