@import "../../shared-styles/reset";
@import "../../shared-styles/mixins";
@import "../../shared-styles/colors";
// @import "../../shared-styles/container";


header {
  background-color: transparent;
  position: static;
  @include for-size(desktop) {
    position: fixed;
    z-index: 2;
    
  }
}
header > .container {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 2px silver;

  @include for-size(desktop) {
    border: 0;
    // padding-top: 82px;
    // justify-content: start;
  }
}

.logoContainer {
  display: flex;
  position: relative;

  @include for-size(tablet) {
    width: 165px;
  }
  @include for-size(desktop) {
  }
  &::after {
    position: absolute;
    @include for-size(desktop) {
      background-color: #E0E0E0;
      content: "";
      display: inline-block;
      width: 3px;
      height: 30px;
      top: 35px;
      left: 190px;
    }
  }
}
.mobUserInfoWrap {
  background-color: $secondary-beckground;
  min-height: 40px;
  padding-top: 13px;
  padding-left: 200px;
}

.navigationAuth {
  margin-left: 106px;
  padding: 13px 0px;
  display: flex;
  @include for-size(desktop) {
    margin-left: 40px;
    padding: 0;
    padding-top: 40px;
  }
}

.navigation {
  margin-left: 65px;
  padding: 12px 0px;
  @include for-size(tablet) {
    margin-left: 270px;
  }
  @include for-size(desktop) {
    margin-left: 30px;
    padding: 0;
  }
}
.logoLink {
  text-decoration: none;
}

.closeBtn {
  border: none;
  outline: none;
  background-color: transparent;
  color: $main-text;
  font-size: 20px;
  padding-right: 30px;
 
  @include for-size(tablet){
    margin-left: 50px;  
    padding-right: 30px;
  }

  &:hover,
  &:focus {
    color: $accent;
  }
}